{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


    <!-- Latest compiled JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />

    <!-- Custom Stylesheet -->
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'e-branch/style.css'  %}">
    <title>Title</title>
</head>
<body>

{% block page %}
{% endblock %}

</body>
</html>