{% extends 'e-branch/_authorized.html' %}
{% block content %}
    <h3>Transactions History</h3>
    {% for transaction in  transactions %}
        <div class="panel panel-default">
            <div class="panel-heading">Destination IBAN : {{ transaction.destinationaccount.iban }}</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Description : {{ transaction.description }}</li>
                    <li class="list-group-item">Send At : {{ transaction.sending_date }}</li>
                    <li class="list-group-item">Amount : {{ transaction.amount }}</li>
                    <li class="list-group-item">From Iban : {{ transaction.sourceaccount.iban }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-heading"><b>Make New Transaction</b></div>
            <div class="panel-body">
                <form action="" method="post"  >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Make Transaction</button>
                </form>
            </div>
        </div>

{% endblock %}