{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/settings/court_list.css' %}">
    <div class="col-md-offset-5">

        </div>

    <div class="col-md-10">
    
    <div class="row center">

    </div>

    <div class="row center">
        
    </div>
        <div class="row">
        <ul class="list-group account-list">
            <div class="row">
            {% for account in accounts%}
                Account Owner: {{ account.user.first_name }} <br>

                IBAN NO : {{ account.iban }}
                <div style='padding-left: 60%;'>
                    Credit : {{ account.amount }}
                </div>

                <a href={% url 'account_update' pk=account.id %} style="padding-left:60%;"> 
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                  <a href={% url 'account_delete' pk=account.id %}>
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
            {% endfor %}
            
            
            </div>
            
        </ul>
    </div>
            <form action="{% url 'settings' %}" style="padding-left: 100%;" method="POST" >
                {% csrf_token %}
                <input type="submit" class='btn btn-primary'>
            </form>
            <form action="{% url 'add_currency' %}" style="padding-left: 100%;" method="GET" >
                {% csrf_token %}
                <input type="submit" class='btn btn-primary' value='Add different currency'>
            </form>
            <a href={% url 'currency_list'%} class='btn btn-primary' style="margin-left: 100%; " value='Currency List'>Currency List</a>
        <hr>



    </div>

{% endblock %}