{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/settings/court_list.css' %}">
    <div class="col-md-offset-5">

        </div>

    <div class="col-md-10">
    
    <div class="row center">

    </div>

    <div class="row center">
        
    </div>
        <div class="row">
        <ul class="list-group account-list">
            <div class="row">
            {% for currency in currencies%}
                Account Owner: {{ account.user.first_name }} <br>

                Currency Name : {{ currency.currency_type }}
               

                <a href={% url 'currency_update' pk=currency.id %} style="padding-left:60%;"> 
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href={% url 'currency_delete' pk=currency.id %}>
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
            {% endfor %}
            
            
            </div>
            
        </ul>
    </div>
          
        <hr>



    </div>

{% endblock %}