<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="UTF-8">
		<title>Peerket</title>
		<meta name="keywords" content="Peerket" />
		<meta name="description" content="Peerket" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="{{ STATIC_URL }}js/fonts.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/icons.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/aos.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/preloader.css" />
		<link rel="icon" href="{{ STATIC_URL }}images/peerket_icon.png">

	</head>
    <body class="light-page">
	<div id="preloader"><div class="circles"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
<nav id="nav-center-logo-menu-btn" class="navbar dark navbar-fixed-top nav-start-hide-bg nav-start-double-pad">
    <div class="container">
        <div class="row no-pad">
            <div class="col-md-2 text-left">
                <div class="row no-pad">
                    <div class="col-xs-6 col-md-12">
                        <div class="navbar-brand"><img src="{{ STATIC_URL }}images/logo2-light@2x.png" srcset="images/logo2-light@2x.png 2x" alt="Your logo"></div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <div class="col-md-6 text-center">
                    <ul class="nav">
                        <li><span><a href="#anasayfa" target="_self" class="smooth" style="font-size:18px;">Anasayfa</a></span></li>
                        <li><span><a href="#benefit-center-text-img-text-2" target="_self" class="smooth" style="font-size:18px;">Nedir ?</a></span></li>
                        <li><span><a href="#team-3col" target="_self" class="smooth" style="font-size:18px;">Ekip</a></span></li>
                        <li><span><a href="#action-center-text-btn-img" target="_self" class="smooth" style="font-size:18px;">İletişim</a></span></li>
                        <li><a href="{% url 'auth' %}"  role="button" aria-pressed="true"> Kayit Ol</a></li>
                    </ul>
            </div>
            <div class="col-md-4 text-md-right">
                    <ul class="social-list">
                        <li>
                            <a href="https://www.instagram.com/peerketapp/" target="_blank"><i class="icon-instagram icon-size-m"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/peerketapp" target="_blank"><i class="icon-twitter icon-size-m"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/peerketapp/" target="_blank"><i class="icon-facebook icon-size-m"></i></a>
                        </li>
                        <li>



                        </li>
                    </ul>

            </div>
              </div>
            </div>

          </div>




            </div>
        </div>
    </div>
    <div class="nav-bg"></div>
</nav>		<div id="wrap">
			<section id="anasayfa">
			<header id="header-slogan-btn-img" class="dark pt-125 pb-0">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 text-center">
							<img src="{{ STATIC_URL }}images/peerket_icon.png">
                			<h3 class="mb-75">Spor Tutkunlarının Buluşma Noktası,<br> Keşfetmek ve Paylaşmak için.</h3>
                			<div>
                    			<a href="#" class="btn btn-image"><img src="{{ STATIC_URL }}images/btn-apple.png" srcset="images/btn-apple@2x.png 2x"></a>
                    			<a href="#" class="btn btn-image"><img src="{{ STATIC_URL }}images/btn-google.png" srcset="images/btn-google@2x.png 2x"></a>
                			</div>
            			</div>
            			<div class="col-md-6 text-center">
                			<img src="{{ STATIC_URL }}images/mockup-iphone7-half-silver@2x.png" srcset="images/mockup-iphone7-half-silver@2x.png 2x" alt="Screen" class="screen inline-block mt-50 mb-0" data-aos="slide-up" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header>
			</section>
			
			<section id="benefit-center-text-img-text-2" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="text-center">
            			<h2>Spor Aktivitelerinizi Yönetin</h2>
						<br>
        			</div>
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-4 col-md-push-4 text-center">
                			<img src="{{ STATIC_URL }}images/mockup-iphone7-jet@2x.png" srcset="images/mockup-iphone7-jet@2x.png 2x" alt="Screen" class="screen inline-block mt-0 mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
            			</div>
            			<div class="col-md-4 col-md-pull-4 text-md-right">
                			<div class="content-box space-more">
                    			<i class="content-icon icon-calendar-full icon-size-l icon-color"></i>
                    			<h4 class="mt-25">Randevu</h4>
                    			<p class="mb-25">Takımınız ve kendiniz için,<br>Saha randevularınızı yönetin.
                    			</p>
                			</div>
                			<div class="content-box space-more">
                    			<i class="content-icon icon-users icon-size-l icon-color"></i>
                    			<h4 class="mt-25">Takım</h4>
                    			<p class="mb-25">Seviyenize uygun spor tutkunlarıyla eşleşin,<br>Birlikte aktiviteler gerçekleştirin.
                    			</p>
                			</div>
                			<div class="content-box space-more">
                    			<i class="content-icon icon-podium icon-size-l icon-color"></i>
                    			<h4 class="mt-25">Rekabet</h4>
                    			<p class="mb-25">Takımınızı kurun,<br>Diğer Peerket takımları ile rekabete başlayın.
                    			</p>
                			</div>
            			</div>
            			<div class="col-md-4 text-md-left">
                			<div class="content-box space-more">
                    			<i class="content-icon icon-map2 icon-size-l icon-color"></i>
                    			<h4 class="mt-25">Keşfet</h4>
                    			<p class="mb-25">Size en yakın spor tesislerini ve Yeni sporları keşfedin.
                    			</p>
                			</div>
                			<div class="content-box space-more">
                    			<i class="content-icon icon-earth icon-size-l icon-color"></i>
                    			<h4 class="mt-25">Topluluk</h4>
                    			<p class="mb-25">Spor Tutkunlarıyla bir araya gelin, Deneyimlerinizi paylaşın.
                    			</p>
                			</div>
                			<div class="content-box space-more">
                    			<i class="content-icon icon-run icon-size-l icon-color"></i>
                    			<h4 class="mt-25">Eksik</h4>
                    			<p class="mb-25">Kaleciniz mi yok ?<br>Arkadaşınız hasta mı oldu!<br>Farklı mevkilerde görev alan Peerket kullanıcıları ile tanışın.
                    			</p>
                			</div>
            			</div>
        			</div>
        			
    			</div>
    			<div class="bg parallax-bg skrollable-after" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</section>
			<section id="team-3col" class="pt-125 pb-125 bg-1-color-light text-center light">
    			<div class="container">
        			<h2 class="mb-25"><span class="text-uppercase"><strong>Ekip</strong></span></h2>
					<br>
        			<div class="row">
            			<div class="col-md-3">
                			<div class="team-box">

                    			<img class="screen mb-25" src="{{ STATIC_URL }}images/photo-14.png" srcset="images/photo-14@2x.png 2x" alt="team member">

                    			<h3 class="mb-10"><strong style="font-size: 23px;">Yücel Faruk Şahan</strong></h3>
                    			<h4 class="mb-25">Business Development</h4>
                    			<ul class="social-list">
                        			<li>
                            			<a target="_blank" href="https://twitter.com/yucelfaruksahan"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a target="_blank" href="https://tr.linkedin.com/in/yucelfaruksahan"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="team-box">

                    			<img class="screen mb-25" src="{{ STATIC_URL }}images/photo-15.png" srcset="images/photo-15@2x.png 2x" alt="team member">

                    			<h3 class="mb-10"><strong style="font-size: 23px;">Emre Hayırcı</strong></h3>
                    			<h4 class="mb-25">Frontend Development</h4>
                    			<ul class="social-list">
                        			<li>
                            			<a target="_blank" href="https://twitter.com/emrehayirci"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a target="_blank" href="https://tr.linkedin.com/in/emreanil/en"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="team-box">

                    			<img class="screen mb-25" src="{{ STATIC_URL }}images/photo-16.png" srcset="images/photo-16@2x.png 2x" alt="team member">

                    			<h3 class="mb-10"><strong style="font-size: 23px;">Emre Yavuz</strong></h3>
                    			<h4 class="mb-25">Backend Development</h4>
                    			<ul class="social-list">
                        			<li>
                            			<a target="_blank" href="https://twitter.com/Emreyavuz9"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a target="_blank" href="https://tr.linkedin.com/in/emre-yavuz-48173676/en"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
						<div class="col-md-3">
                			<div class="team-box">

                    			<img class="screen mb-25" src="{{ STATIC_URL }}images/photo-17.png" srcset="images/photo-17@2x.png 2x" alt="team member">

                    			<h3 class="mb-10"><strong style="font-size: 23px;">Ahmet Murat Dursun</strong></h3>
                    			<h4 class="mb-25">Operation Management</h4>
                    			<ul class="social-list">
									<li>
                            			<a target="_blank" href="https://twitter.com/ahmtmurat"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a target="_blank" href="https://tr.linkedin.com/in/ahmetmuratdursun/en"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section>
			<section id="action-center-text-btn-img" class="text-center light pt-75 pb-0 sep-b">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<h2 class="mb-25">İletişimde Kalın</h2>
                			<h3 class="mb-50">Her türlü talep , öneri ve şikayetlerini bizler ile paylaşabilirsiniz.<br><br>info@peerket.com</h3>
                			
                			<div>
                    			<a href="https://twitter.com/peerketapp" class="btn btn-image"><img style="height: 42px;" src="{{ STATIC_URL }}images/twitter-badge.png" srcset="images/twitter-badge.png 2x"></a>
                    			<a href="https://www.facebook.com/peerketapp/" class="btn btn-image"><img style="height: 42px;" src="{{ STATIC_URL }}images/facebook-badge.png" srcset="images/facebook-badge.png 2x"></a>
                    			<!--<a href="mailto:info@peerket.com" class="btn btn-image"><img style="height: 42px;" src="images/email-badge.png" srcset="images/email-badge.png 2x"></a>-->
                			</div>
                			<!--<img src="images/mockup-iphone7-horizontal-top-silver.png" srcset="images/mockup-iphone7-horizontal-top-silver@2x.png 2x" alt="" class="screen inline-block mt-75 mb-0">-->
							<br>
							<br>
							<br>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-text-icon-social" class="pt-50 pb-50 bg-1-color-light light">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-4">
                			<p><script language="JavaScript">
							<!--
							document.write('Copyright &copy;' );
							document.write(' Peerket - ');
							document.write(new Date().getFullYear());
							//-->
							</script>
							</p>
            			</div>
            			<div class="col-md-4 text-center">
                			<a href="#header-slogan-btn-img" class="smooth" target="_self"><i class="content-icon icon-size-l icon-chevron-up icon-color"></i></a>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<ul class="social-list">
                    			<li>
                        			<a href="https://www.instagram.com/peerketapp/" target="_blank"><i class="icon-instagram icon-size-m"></i></a>
                    			</li><li>
                        			<a href="https://twitter.com/peerketapp" target="_blank"><i class="icon-twitter icon-size-m"></i></a>
                    			</li><li>
                        			<a href="https://www.facebook.com/peerketapp/" target="_blank"><i class="icon-facebook icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container">
			<div class="modal fade modal-confirm flex-center light" id="subscribe-center-field-2-success" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
			<div class="modal-content text-center">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span></button></div>
			<div class="modal-body">
			<i class="content-icon icon icon-checkmark-circle icon-size-xl icon-color mb-50 "></i>
			<h3 class="mb-25 mailchimp-data-message">Your message was sent successfully!</h3>
			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual.</p>
			<a href="#" class="btn btn-default">Download</a></div>
			<div class="bg"></div></div></div></div>
			<div class="modal fade modal-confirm flex-center light" id="subscribe-center-field-2-error" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
			<div class="modal-content text-center">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span></button></div>
			<div class="modal-body">
			<i class="content-icon icon icon-warning icon-size-xl icon-color mb-50 "></i>
			<h3 class="mb-25">Oops! Something went wrong!</h3>
			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual.</p>
			<a href="#" class="btn btn-danger">Ask support</a></div>
			<div class="bg"></div></div></div></div>
		</div>
		<script src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.smooth-scroll.min.js"></script>
		<script src="{{ STATIC_URL }}js/skrollr.js"></script>
		<script src="{{ STATIC_URL }}js/aos.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="{{ STATIC_URL }}js/custom.js"></script>
		<script src="{{ STATIC_URL }}js/index.js"></script>
	</body>
</html>