{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/settings/court_list.css' %}">
    <div class="col-md-offset-5">

        </div>

    <div class="col-md-10">
    
    <div class="row center">

    </div>

    <div class="row center">
        
    </div>
        <div class="row">
        <ul class="list-group">
            
                <h2> Currency add </h2>
                <form action={% url 'update_currency' pk=currency.id%} method='POST' >    
               Please enter Currency Type : <input type="text" name='currency' value={{currency.currency_type}}>
                {% csrf_token %}
                <div class='form-group' style='padding-left: 90%; padding-top: 15px;'>
                    <input type="submit" class="btn btn-primary" value='Submit'>
                </div>
                </div>
            
        </ul>
    </div>
        
        <hr>



    </div>

{% endblock %}