{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/settings/court_list.css' %}">


    <div class="col-md-10">
            {% if accountform %}
                <h2> Update Account </h2>
                <form action={% url 'account_update' pk=account_id %} method='POST' >
                    {% csrf_token %}
                    {{ accountform }}


                 <div class="form-group">
                    <label> Hesap Tipi </label>
                    <select name="account_type" class="form-control">
                        <option value="BİRİKİM HESABI">BİRİKİM HESABI</option>
                        <option value="KREDİLİ MEVDUAT HESABI">KREDİLİ MEVDUAT HESABI</option>
                        <option value="NORMAL HESAP"> NORMAL HESAP </option>
                        <option value="EMEKLİLİK HESABI"> EMEKLİLİK HESABI </option>
                    </select>
                </div>

                    <label> Currency Type </label>
                    <div class="form-group">
                        <select class="form-control" name="currency_type">
                            <option value="{{ currency.id }}">{{ currency.currency_type }}</option>
                            {% for c in currencies %}
                                <option value="{{ c.id }}">{{ c.currency_type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                <div class="form-group">
                    <select name="user_id">
                        <option value="{{ user.id }}">{{ user.email }}</option>
                        {% for u in users %}
                            <option value="{{ u.id }}">{{ u.email }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class='form-group' style='padding-left: 90%; padding-top: 15px;'>
                    <input type="submit" class="btn btn-primary" value='Submit'>
                    <a href="{% url 'account_delete' pk=account_id %}" class="btn btn-danger">Destroy</a>
                </div>

                </form>
            {% endif %}
    </div>
{% endblock %}